QWidget {
    background-color: #202020;
}

QPushButton {
    background-color: #3B3B3B;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    min-height: 50px;
    min-width: 75px;
}


QPushButton:hover {
    background-color: #323232;
}

QPushButton:pressed {
    background-color: #282828;
}

QLineEdit {
    padding: 0;
    color: aliceblue;
}